#bloco img {
	
}

#topa {
	
}

#tope {
	
}

.slideshow {
    margin: 5px;
}

#footere img{
	border-radius: 8px;
	height: 100px;
	width: 100px;
}

#c1, #cpp1, #csharp1, #java1, #python1, img {
	height: 150px;
	width: : 150px;
}