#menu {
    background-color: #000;
}
#icone {
    height: 40px;
    width: 40px;
}
#submenu {
    
    margin-left: auto;
    margin-right: auto;
}

#icone-unidade{
    background-color:#000;
    min-height: 200px;  
}
#unidadebody {
    background-color: #000;
    font-size: 20px;
}
#endmanoel {
    width: 300px;
    height: 150px;
    padding: 43px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
             
   }  
   .body {
    background-color: #eee;
}
#endgalvao {
    width: 300px;
    height: auto;
    padding: 43px;
    margin-left: auto;
    margin-right: auto;
    
}
#menurodape{
    background-color: black;
    opacity: 0.7;
    height:150px
}
#bodymenudeacesso {
    background-color: #000;
    width: 2102.13px;
    height: 1108px;
}
#imagem-capa{
    width: 1400px;
}
#imagem-logo{
    max-width: 420px;
    max-height: 470px;
}
#fundo-home{
    margin: 0;
    max-height: 760px;
    max-width: 1229px;
}




.btn {
    color: white;
}
.btn:hover{
    color: #41ee4a;
}
.btn-dark, .btn-success{
    opacity: 0.7;
}
.btn-dark:hover, .btn-success:hover {
    color: white;
    opacity: 1;
}
.btn-space {
    margin-right: 5px;
}
.container-fluidgabi {
    width:100%; 
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    background-image: url("C:\Users\Cliente Infotec\Documents\barbernagement\web\imagens\BARBEARIACG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.titulo{
    font: lato;
    font-style: oblique;
}
.subtitulo{
    
}




h1 {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    //h1 utilizei para titulos na pagina sobre nos.
}
h2{
    font-style: normal;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    //h2 utulizei para texto nossa historia, visao, missão e velores...
}
h3{
    font-size: 15px;
    font-family: lato;
    text-align:justify;
    //configuração do texto ref. ao endereço/pagina unidades   
}

div.container-logo{
    height: 10em;
    position: relative;
}
div.container-logo img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-210%, -13%)
}
