#menu {
    background-color: #000;
}

#icone {
    height: 40px;
    width: 40px;
}

#submenu {

    margin-left: auto;
    margin-right: auto;
}
#fundo-home{
    background-color: black;
    margin-right: auto;
}
#fundo-preto{
    height: 500px;
}
#barba-icon{
    position: relative;
    height: 200px;
}

#icone-unidade{
    background-color:#000;
    max-height: 50px;

}

#icone_unid_direita{

    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fundao{
    background-color: #000;
}

#icone_unid_esquerda{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;


}
#unidadebody {
    background-color: #000;
    /*font-size: 20px;*/
}
#endmanoel {
    width: 600px;
    height: 600px;
} 

#endgalvao {
    width: 600px;
    height: 600px;
}

#sobrenosfoto{
    background-color: #000;

}
#missao_visao_valores{
    background-color:#000;
    max-height: 120px;


}
#corpo_missao_visao_valores{
    background-color:#000;
    max-height: auto;


}
#sobrenostexto{
    background-color: #000;

}

#menurodape{
    background-color: black;
    opacity: 0.7;
    height:150px
}
#bodymenudeacesso {
    background-color: #000;
    width: 2102.13px;
    height: 1108px;
}
.p1{
    color: #eee;
    font-size: 18px;
    text-align: justify;
}

h1 {
    color: #eee;
    font-style: lato;
    font-size: 20px;
    text-align: center;

}




#imagem-capa{
    width: 1400px;
    position: relative;
    top: 0px;
    left: 0px;
}
#frase{
    position: absolute;
    top: 190px;
}
#imagem-logo{
    max-width: 420px;
    max-height: 475px;
}
#fundo-home{
    margin-left: 0;
    max-height: 700px;
    max-width: 1700px;
}


/* Classes Gerais */

.titulo{
    font: lato;
    font-size: 40px;
}

.titulomenor{
    font: lato;
    font-size: 20px;
    color: #FFF;
}

.subtitulo{
    font: lato;
    font-style: oblique;
}

/* Fim */

.btn {
    color: white;
}
.btn:hover{
    color: #41ee4a;
}
.btn-dark{
    opacity: 0.7;
}
.btn-dark:hover{
    color: white;
    opacity: 1;
}
.btn-space {
    margin-right: 5px;
}
.container-fluidgabi {
    width:100%; 
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    background-image: url("C:\Users\Cliente Infotec\Documents\barbernagement\web\imagens\BARBEARIACG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.body {
    background-color: #eee;
}

div.container-logo{
    height: 10em;
    position: relative;
}
div.container-logo img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-210%, -13%)
}

/* Menu de Acesso */

.bg-dourado {
    background-color: #cd9b6b !important;
    color: #cd9b6b !important;
}

/* Fim */

/*\/ usados pelo Gui \/*/
.tracejado{
    color: #cd9b6b;
}

#tracinho{
    display: none;
}

.produtos_icones{
    padding-left: 0;
    padding-right: 0;
}

.produtos_imagens{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 200px;
    border: 4px solid #CD9B6B;
}

#rodape_logo{
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 576px){
    #tracao{
        display: none;
    }
    #tracinho{
        display: block;
    }
    #sobrenosfoto{
        width: 100%;
    }
}

/*/\ usados pelo Gui /\*/

/* Footer */

.fundoFooter{
    background-color: #101011;
}

.tituloFooter{
    font-weight: bold;
    color: #989898;
}

.navegacaoFooter{
    color: #F7F7F7;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
}

.redesSociais {
    width: 64px;
    height: 64px;
}

.iconesContatos{
    width: 33px;
    height: 33px;
}

/* Footer */

#menu {
    background-color: #000;

}
#icone {
    height: 40px;
    width: 40px;
}

#submenu {

    margin-left: auto;
    margin-right: auto;
}
#fundo-home{
    background-color: black;
    margin-right: auto;
}
#fundo-preto{
    height: 500px;
}
#barba-icon{
    position: relative;
    height: 200px;
}

#icone-unidade{
    background-color:#000;
    max-height: 50px;

}

#icone_unid_direita{

    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fundao{
    background-color: #000;
}

#icone_unid_esquerda{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;


}
#servicos-home{
    margin-top: 20px;
}
#unidadebody {
    background-color: #000;
    /*font-size: 20px;*/
}
#endmanoel {
    width: 600px;
    height: 600px;

} 
#endgalvao {
    width: 600px;
    height: 600px;


}
#sobrenosfoto{
    background-color: #000;

}
#missao_visao_valores{
    background-color:#000;
    max-height: 120px;


}
#corpo_missao_visao_valores{
    background-color:#000;
    max-height: auto;


}
#sobrenostexto{
    background-color: #000;


}

#menurodape{
    background-color: black;
    opacity: 0.7;
    height:150px
}
#bodymenudeacesso {
    background-color: #000;
    width: 2102.13px;
    height: 1108px;
}
.p1{
    color: #eee;
    font-size: 18px;
    text-align: justify;
}

h1 {
    color: #eee;
    font-style: lato;
    font-size: 20px;
    text-align: center;

}
.eventos_img{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    width:  300px;
    border: 4px solid #CD9B6B;
}
.eventos_img{
    padding-left: 0;
    padding-right: 0;
}

#boasvindas{
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 30%;
}


#imagem-capa{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}
#frase{
    position: absolute;
    top: 190px;
}
#imagem-logo{
    max-width: 420px;
    max-height: 475px;
}
#fundo-home{
    margin-left: 0;
    max-height: 700px;
    max-width: 1700px;
}


/* Classes Gerais */

.titulo{
    font: lato;
    font-size: 40px;
}

.titulomenor{
    font: lato;
    font-size: 20px;
    color: #FFF;
}

.subtitulo{
    font: lato;
    font-style: oblique;
}

/* Fim */

.btn {
    color: white;
}
.btn:hover{
    color: #41ee4a;
}
.btn-dark{
    opacity: 0.7;
}
.btn-dark:hover{
    color: white;
    opacity: 1;
}
.btn-space {
    margin-right: 5px;
}
.container-fluidgabi {
    width:100%; 
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    background-image: url("C:\Users\Cliente Infotec\Documents\barbernagement\web\imagens\BARBEARIACG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.body {
    background-color: #eee;
}

div.container-logo{
    height: 10em;
    position: relative;
}
div.container-logo img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-210%, -13%)
}

/* Menu de Acesso */

.bg-dourado {
    background-color: #cd9b6b !important;
    color: #cd9b6b !important;
}

/* Fim */

/*\/ usados pelo Gui \/*/
.tracejado{
    color: #cd9b6b;
}

#tracinho{
    display: none;
}

.produtos_icones{
    padding-left: 0;
    padding-right: 0;
}

.produtos_imagens{
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 200px;
    /*max-width: 250px;*/
    border: 4px solid #CD9B6B;
}

@media screen and (max-width: 576px){
    #tracao{
        display: none;
    }
    #tracinho{
        display: block;
    }
}

/*/\ usados pelo Gui /\*/

/* Footer */

.fundoFooter{
    background-color: #101011;
}

.tituloFooter{
    font-weight: bold;
    color: #989898;
}

.navegacaoFooter{
    color: #F7F7F7;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
}

.redesSociais {
    width: 64px;
    height: 64px;
}

.iconesContatos{
    width: 33px;
    height: 33px;
}

/* Footer */

body{
    background-color: #000;
}

/*config card*/

._card > h3{
    color: white !important;
}
._card > p{
    color: #888 !important;
    font-size: 20px
}
/*
._card > p > img{
    height: 130px
}*/
